[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = git@github.com:tummychow/lanyon-hugo.git
