// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #FFFFFF !default;
$fg-color: #141B1F !default;
$alt-bg-color: #F2F2F2 !default;
$alt-fg-color: #141B1F !default;
$link-color: #3388BB !default;

// Colors dark
$bg-color-dark: #141B1F !default;
$fg-color-dark: #FFFFFF !default;
$alt-bg-color-dark: #1F262A !default;
$alt-fg-color-dark: #FFFFFF !default;
$link-color-dark: #3388BB !default;

$high-emphasis-text: 87%;
