<head>

  <script src="https://use.fontawesome.com/d85d18ef37.js"></script>

</head>
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
  styles, `#sidebar-checkbox` for behavior. -->
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

  <!-- Toggleable sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-item">
      <p>Welcome to the Personal Website and Blog of Siddhant. Here, he compiles all his thoughts and work.</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {{ if .IsHome }} active {{ end }}" href="/">Home</a>
      <a class="sidebar-nav-item {{ if eq .RelPermalink "/post/" }} active {{ end }}" href="/post">Posts</a>
      {{- $currentPage := . }}
      {{- range .Site.Menus.main -}}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{- end -}}

      {{- $thisperma := .Permalink }}
      {{ range .Site.Pages.ByWeight -}}
      {{ if isset .Params "sidebar" -}}
      <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end -}}
      {{ end -}}

      {{- with .Site.Params.Github }}
      <a class="sidebar-nav-item" href="{{ .url }}/archive/{{ .head }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ .url }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently on {{ .head }}</span>
      {{ end -}}
    </nav>

    <div class="sidebar-item" style="display:inline-block">
      <p><a href="https://github.com/sidntrivedi012"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp; 
        <a href="https://github.com/sidntrivedi012"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/sidntrivedi012"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>&nbsp; &nbsp;
        <a href="https://github.com/sidntrivedi012"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
